
@{
    ViewBag.Title = "ReportesRutas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
}

<style>
    li {
        list-style-type: none;
    }

    .cuerpo {
        padding: 1%;
        width: 100%;
        height: 300px;
    }

    section .section1 {
        float: left;
        width: 25%;
    }

    section .section2 {
        float: left;
        width: 75%;
    }
</style>
<script>
    function cargarFormulario(info) {
        $('#Formulario').html('');

        $.ajax('/Rutas/' + info,
            {
                dataType: 'html',
                cache: false,
                type: 'post'
            })
            .done(function (response) {
                Swal.fire("Formulario cargado");
                $('#Formulario').html(response);
            });
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Reportes de rutas</em></li>
        </ol>
    </nav>
</div>


<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">REPORTES DE RUTAS</h3></div>
</div>

<div class="bg-form-pestanas-cobefar pt-2 bg-section-form bg-form-cobefar">
    <div class="cuerpo">
        <section>
            <div class="section1">
                <ul>
                    <li id="infoHojasRuta"><button class="btn btn-warning m-2" onclick="cargarFormulario('infoHojasRuta')"><strong>Análisis Hojas de Ruta-Ventas</strong></button></li>
                    <li id="infoTicketsPesaje"><button class="btn btn-warning m-2" onclick="cargarFormulario('infoTicketsPesaje')"><strong>Análisis Pesaje</strong></button></li>
                    <li id="infoHojasCargo"><button class="btn btn-warning m-2" onclick="cargarFormulario('infoHojasCargo')"><strong>Análisis Hojas de Cargo</strong></button></li>
                    <li id="infoHojasCargo"><button class="btn btn-warning m-2" onclick="cargarFormulario('infoHojasCargoDetallado')"><strong>Análisis Hojas de Cargo / Detallado</strong></button></li>
                    <li id="infoHojasRutaT"><button class="btn btn-warning m-2" onclick="cargarFormulario('infoHojasRutaT')"><strong>Análisis Hojas de Ruta-Transferencias</strong></button></li>
                </ul>
            </div>
            <div id="Formulario" class="section2">
            </div>
        </section>
    </div>

    <table id="Reporte" class="table-responsive" style="background-color:white">
    </table>

</div>


@section Scripts{
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js" defer></script>
}