## Archivos personalizados del proyecto ##
/Capa_Usuario/Content/icomoon/
/Capa_Usuario/SqlServerTypes/
/Capa_Usuario/Rotativa/

# Mantener plantillas de configuración pero ignorar archivos específicos #
/Capa_Usuario/Web.config
/Capa_Usuario/Web.Debug.config
/Capa_Usuario/Web.Release.config
/Capa_Usuario/Views/web.config
!Capa_Usuario/Web.config.template

# Mantener plantillas de reportes, pero ignorar archivos generados #
/Capa_Usuario/Reportes/RptVentas/
/Capa_Usuario/Reportes/RptRutas/
/Capa_Usuario/Reportes/RptInventario/
/Capa_Usuario/Reportes/RptAtencionCliente/
/Capa_Usuario/Reportes/RptDireccionTecnica/
!Capa_Usuario/Reportes/**/*.rdlc

# Ignorar archivos específicos de desarrollo #
/Capa_Datos/Utilitarios.cs

.vs/

## Archivos específicos de Visual Studio y .NET ##
.editorconfig
*.xsc
*.xsd
*.xss
*.zip
*.mp3
*.mp4


# Archivos de usuario y cachés #
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Archivos de compilación y carpetas #
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
out/
logs/

# Archivos de prueba #
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Archivos de paquetes y dependencias #
**/[Pp]ackages/*
!**/[Pp]ackages/build/
node_modules/
*.nupkg
*.snupkg

# Archivos de configuración específicos de despliegue #
*.publish.xml
*.azurePubxml
PublishScripts/
*.pubxml
*.publishproj

# Archivos de bases de datos locales #
*.mdf
*.ldf
*.ndf

# Archivos de configuración sensibles (asegurar que no estén en el repo) #
*.config.user
