<div class="container-footer bg-dark pt-4">
    <div class="copyright mb-2">
        <span class="text-cobefar-2">CONTACTO:</span>
        coordinador.ti@cobefar.com.pe
        <span class="text-cobefar-2">|</span>
        soporte.ti@cobefar.com.pe
        <span class="text-cobefar-2">|</span>
        coordinador.desarrollo@cobefar.com.pe
        <span class="text-cobefar-2">|</span>
        soporte.desarrollo@cobefar.com.pe
    </div>© Todos los derechos reservados 
    <br />
    <small>
        <span class="text-cobefar-2">ALM01:</span> Jr. Antonio Miroquesada N° 806 3er piso-Int 303 - Cercado de Lima
        <span class="text-cobefar-2">| ALM06:</span> Calle Mariano Jose de Arce N° 159-163 INT. MZ.C,LOTE.01, 1° Y 2° piso Urb. Mercurio - San Luis
    </small>
</div>