<div class="d-flex justify-content-between align-items-center py-2 px-3 w-100">
    <div class="flex-grow-1">
        <p class="mb-0 d-flex align-items-center">
            <a href="@Url.Action("LogOut", "Index")" class="btn btn-sm btn-cobefar me-2" style="font-size: 14px; background-color: darkgreen;">
                <i class="bi bi-box-arrow-left"></i>
            </a>
            <span id="statusBD" class="text-dark"></span>
        </p>
    </div>
    <div class="flex-shrink-0">
        <img src="/Content/img/logo-cobefar.png" width="140" height="45" alt="Logo Cobefar">
    </div>
</div>