@{
    ViewBag.Title = "ReportesVentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://unpkg.com/slim-select@2.13.1/dist/slimselect.css" rel="stylesheet" />
}

<script>
    $(document).ready(function () { });
    function cargarFormulario(info) {
        $('#Reporte').html('');

        $.ajax('/Ventas/' + info,
            {
                dataType: 'html',
                cache: false,
                type: 'post'
            })
            .done(function (response) {
                Swal.fire("Formulario cargado correctamente.");
                $('#Formulario').html(response);
            });
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Reportes de ventas</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">REPORTES DE VENTAS</h3></div>
</div>


<div class="bg-white bg-form-cobefar">
    <div class="row pb-4 pr-4 pt-4">
        <div class="col-lg-3">
            <div class="d-flex justify-content-center align-self-center">
                <div class="d-flex align-self-center mr-2"><i class="icon icon-stats-dots text-warning"></i></div>
                <select class="form-control-sm border" onchange="cargarFormulario(this.value)" style="width: 260px">
                    <option value="">Seleccione Reporte</option>
                    <option value="infoAuditVtsCli">Auditoria ventas por cliente</option>
                    <option value="infoAnalisisVentas">Análisis de ventas</option>
                    <option value="infoAnalisisTickets">Análisis de tickets</option>
                    <option value="infoVentasClienteDias">Ventas Cliente Dias</option>
                    <option value="infoVentasVendedorDias">Ventas Vendedor Dias</option>
                    <option value="infoVentasSkuDias">Ventas Sku Dias</option>
                    <option value="infoVentasSkuCliDias">Ventas SkuCli Dias</option>
                </select>
            </div>

        </div>
        <div id="Formulario" class="col-lg-9">
        </div>
    </div>
</div>

<table id="Reporte" class="table-responsive" style="background-color:white">
</table>

@section Scripts{
    <script src="https://unpkg.com/slim-select@2.13.1/dist/slimselect.min.js" defer></script>
}