@{
    Layout = null;
}
<script>
    function calcular() {
        var parametros = $("#frm").serialize();

        // Primera solicitud AJAX para traer la cantidad total de documentos a descargar
        var request1 = $.ajax('/DireccionTecnica/CalculadoraPdfXampp', {
            data: parametros,
            dataType: 'json',
            cache: false,
            type: 'post'
        });

        // Segunda solicitud AJAX para traer el detallado en forma de tabla sobre las fechas y cantidades que contienen ese documento
        var request2 = $.ajax('/DireccionTecnica/DetalleCalculadoraPdf', {
            data: parametros,
            dataType: 'json',
            cache: false,
            type: 'post'
        });

        $.when(request1, request2).done(function (response1, response2) {
            var mensaje = "PDF's en total: " + response1[0] + "\n\n";
            var tablaHTML = "";
            if (response2[0].length > 0) {
                tablaHTML += "<table style='width: 100%; border-collapse: collapse;' border=1>";
                tablaHTML += "<thead>";
                tablaHTML += "<tr style='background-color: #2E7D32; color: #FFFFFF; text-align: center;'>";
                tablaHTML += "<th style='padding: 8px;'>FechaDoc</th>";
                tablaHTML += "<th style='padding: 8px;'>Cantidad</th>";
                tablaHTML += "</tr>";
                tablaHTML += "</thead>";
                tablaHTML += "<tbody>";

                $.each(response2[0], function (index, item) {
                    tablaHTML += "<tr style='text-align: center;'>";
                    tablaHTML += "<td style='padding: 8px;'>" + item.Item1 + "</td>";
                    tablaHTML += "<td style='padding: 8px;'>" + item.Item2 + "</td>";
                    tablaHTML += "</tr>";
                });

                tablaHTML += "</tbody>";
                tablaHTML += "</table>";
            }
            mensaje += "</br></br>"+tablaHTML;

            Swal.fire({
                html: mensaje
            });
        });
    }


</script>


<div class="container" style="padding: 2%; background-color:rgb(220, 220, 220);">
    <h3 class="text-cobefar font-weight-bold text-center">ACTA DESPACHO</h3>

    <form id="frm">
        <div class="row mt-4">
            <div class="col-lg-3">
                <label class="text-dark font-weight-bold font-18">Fecha:</label>
                <input name="Fecha" type="date" class="form-control border-success" />
                <input name="opcion" type="hidden" value="4" />
            </div>

            <div class="col-lg-4">
                <label class="text-dark font-weight-bold font-18">EstadoDocumento:</label>
                <select name="U_SYP_STATUS" class="form-control bg-cobefar text-white">
                    <option value="">Seleccione</option>
                    <option value="V">Vigente</option>
                    <option value="A">AnuladoSunat</option>
                    <option value="I">AnuladoInterno</option>
                </select>
            </div>

            <div class="col-lg-4">
                <label class="text-dark font-weight-bold font-18">LugarDeEntrega:</label>
                <select name="U_COB_LUGAREN" class="form-control bg-cobefar text-white">
                    <option value="03">ALMACEN 03</option>
                    <option value="ALM07">ALMACEN 07</option>
                    <option value="16">ALMACEN 08</option>
                </select>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <button id="Generar" type="button" class="btn btn-success" onclick="calcular()"><i class="icon-checkmark"></i> Calcular</button>
            </div>
        </div>
        
    </form>
</div>