@model IEnumerable<Capa_Entidad.Ventas_ENT.Tablas.ORDR_E>
@{
    ViewBag.Title = "ListadoOrdenesDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado órdenes de venta</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO ÓRDENES DE VENTA</h3></div>
</div>

<div class="bg-form-pestanas-cobefar">
    <div class="bg-dark">
        <form id="frm" name="frm">
            <div id="div_listadoOV"></div>
        </form>
    </div>
</div>

<script>
        var cargarLista = '@ViewBag.CargarLista';
        var slpCode = '@ViewBag.SlpCode';

        document.addEventListener("DOMContentLoaded", function () {
            let listado = `ListarOrdenesVenta?version=${cargarLista }&SlpCode=${ slpCode }`;
            cargarContenido("div_listadoOV", listado);
        });


    function filtrar() {
        var form = $("#frm").serialize();

        if (slpCode * 1 > 0) {
            form += `&SlpCode=${slpCode}`;
        }

        let listaFiltrada = `ListarOrdenesVenta?version=${cargarLista}&${form}`;
        cargarContenido("div_listadoOV", listaFiltrada);
    }
</script>