@{
    ViewBag.Title = "Solicitudes de Traslado";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><em>Abastecimiento Interno</em></li>
            <li class="current"><em>Solicitudes de Traslado</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">SOLICITUDES DE TRASLADO</h3></div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row mb-4">
        <div class="col-lg-2">
            <input type="hidden" id="DocEntry" name="DocEntry" readonly />
            <label for="" class="form-label fw-bold">Tipo de documento:</label>
            <select id="" class="form-select">
                <option value="OWTQ">Solicitud de Traslado</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="DocNum" class="form-label fw-bold">DocNum:</label>
            <input type="text" id="DocNum" class="form-control" name="DocNum" autocomplete="off" />
        </div>

        <div class="col-lg-2">
            <label for="NroGuia" class="form-label fw-bold">Nro. de guía:</label>
            <input type="text" id="NroGuia" class="form-control cls-readonly text-center" name="NroGuia" autocomplete="off" readonly />
        </div>

        <div class="col-lg-3">
            <label for="CardName" class="form-label fw-bold">Socio de Negocio:</label>
            <input type="hidden" id="CardCode" name="CardCode" readonly />
            <input type="text" id="CardName" class="form-control cls-readonly text-center" name="CardName" autocomplete="off" readonly />
        </div>

        <div class="col-lg-3">
            <label for="OperarioResponsableSAP" class="form-label fw-bold">Operario Responsable SAP:</label>
            <input type="text" id="OperarioResponsableSAP" class="form-control cls-readonly text-center" name="OperarioResponsableSAP" autocomplete="off" readonly />
            <input type="hidden" id="MotivoTraslado" name="MotivoTraslado" readonly />
            <input type="hidden" id="DocDate" name="DocDate" readonly />
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-warning" onclick="buscarSolicitud()" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar"><i class="bi bi-search"></i> Buscar</button>
        </div>
    </div>

    <hr />

    <div id="copiaSap" hidden>
        <form id="frm_tablaCopiaSap">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <input type="text" id="copiaDocEntry" name="DocEntry" readonly />
                    <input type="text" id="copiaDocNum" name="DocNum" readonly />
                    <input type="text" id="copiaNroGuia" name="NroGuia" readonly />
                    <input type="text" id="copiaCardCode" name="CardCode" readonly />
                </div>
            </div><!-- row -->

            <div class="row mb-4">
                <div class="col-lg-12">
                    <input type="text" id="copiaCardName" name="CardName" readonly />
                    <input type="text" id="copiaOperarioResponsableSAP" name="OperarioResponsableSAP" readonly />
                    <input type="text" id="copiaMotivoTraslado" name="MotivoTraslado" readonly />
                    <input type="text" id="copiaDocDate" name="DocDate" readonly />
                </div>
            </div><!-- row -->
        </form>

        <table id="tbl_copiaSap" class="table">
            <thead>
                <tr>
                    <th scope="col">ItemCode</th>
                    <th scope="col">ItemName</th>
                    <th scope="col">BatchNum</th>
                    <th scope="col">In Date</th>
                    <th scope="col">Exp Date</th>
                    <th scope="col">QuantityCajas</th>
                    <th scope="col">FromWhsCode</th>
                    <th scope="col">ToWhsCode</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row mb-4">
        <div class="col-lg-12">
            <table id="tbl_detalle" class="dt-container dt-empty-footer table table-sm table-hover font-14" width="100%">
                <thead class="thead-cobefar">
                    <tr>
                        <th style="width: 5%;"></th>
                        <th scope="col" class="text-center">Código de artículo</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col" class="text-center">Alm. Destino</th>
                        <th scope="col" class="text-center">Lotes</th>
                        <th scope="col" class="text-center">Unidad Alm.</th>
                        <th scope="col" class="text-center">Cant . MASTER</th>
                        <th scope="col" class="text-center">Cant . Saldo</th>
                        <th scope="col" class="text-center">Ubicación</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar"><i class="bi bi-x-lg"></i> Cancelar</button>
            <button type="button" id="btn_transferir" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Transferir"><i class="bi bi-arrow-left-right"></i> Transferir</button>
        </div>
    </div>
</div><!-- main -->

@section Scripts{
    <script>
        // ✅ Declaración de variables
        const masters = JSON.parse(`@Html.Raw(Json.Encode(ViewBag.Masters))`)
        let opcionesMasters = ''

        // ✅ Funciones
        function cargarOpcionesMasters(unidadAlmSugerido) {
            opcionesMasters = ""; // Reiniciar la variable para evitar acumulación de valores previos
            masters.forEach(item => {
                opcionesMasters += `<option value="${item.ValorUmAlm}" ${item.UmAlm === unidadAlmSugerido ? 'selected' : ''}>${item.UmAlm}</option>`;
            });

            return opcionesMasters;
        }

        async function realizarTransferencia() {
            const form = document.querySelector('#frm_tablaCopiaSap')

            if (!form) {
                console.log("Formulario no válido.");
                return;
            }

            const filas = document.querySelectorAll("#tbl_copiaSap tbody tr");
            let detalles = [];

            filas.forEach((fila) => {
                let inputs = fila.querySelectorAll("input");
                let detalle = {};

                inputs.forEach(input => {
                    let key = input.name.replace("Detalle[].", ""); // Extraer el nombre del campo
                    detalle[key] = input.value;
                });

                detalles.push(detalle);
            });

            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());
            jsonData.Detalle = detalles

            try {
                const response = await fetch("/AbastecimientoInterno/RegistrarTransferenciaDeStock", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonData)
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.status}`);
                }

                const data = await response.json();
                //console.log(data)
            } catch (error) {
                console.error("Error:", error);
            }
        }

        // ✅ Función principal para buscar la solicitud
        async function buscarSolicitud() {
            let docNum = document.querySelector('#DocNum').value.trim();

            if (!docNum) {
                Swal.fire({
                    title: "Error",
                    text: "Ingrese un número de documento válido.",
                    icon: "error",
                    showConfirmButton: true
                });
                return;
            }

            try {
                const response = await fetch("/AbastecimientoInterno/BuscarSolicitudDeTraslado", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ docNum })
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }

                const data = await response.json();
                console.log("Datos recibidos:", data);

                if (!data || !data.traslado) {
                    Swal.fire({
                        title: "Error",
                        text: data.Mensaje || "No se encontraron datos para la solicitud.",
                        icon: "error",
                        showConfirmButton: true
                    });
                    return;
                }

                // ✅ Rellenar los campos con los datos recibidos
                document.querySelector('#NroGuia').value = data.traslado.NroGuia || "";
                document.querySelector('#CardCode').value = data.traslado.CardCode || "";
                document.querySelector('#CardName').value = data.traslado.CardName || "";
                document.querySelector('#OperarioResponsableSAP').value = data.traslado.OperarioResponsableSAP || "";
                document.querySelector('#MotivoTraslado').value = data.traslado.MotivoTraslado || "";
                document.querySelector('#DocDate').value = data.traslado.DocDate || "";

                // ✅ Construir formulario y tabla de detalle
                construirFormCopiaSap(data.traslado);
                construirDetalleSolicitudTraslado(data.traslado.Detalle);

            } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                    title: "Error",
                    text: "Hubo un problema al procesar la solicitud.",
                    icon: "error",
                    showConfirmButton: true
                });
            }
        }

        // ✅ Construcción de la tabla de detalle
        function construirDetalleSolicitudTraslado(detalle) {
            let tbody = ''


            for (const itemCode in detalle) {
                let key = detalle[itemCode]
                let datosDetalle = {}
                datosDetalle = {
                    itemCode: key.ItemCode,
                    cantidadTotal: key.CantidadTotalPorSKU,
                    cantidadMasterId: `det_cantidadMaster_${key.ItemCode}`,
                    cantidadSaldoId: `det_cantidadSaldo_${key.ItemCode}`
                }

                tbody += `<tr data-producto="${key.ItemCode}">
                                        <td class="details-control"><button class="btn btn-sm btn-cobefar-2"><i class="bi bi-chevron-down"></i></button></td>
                                        <td class="text-center">${key.ItemCode}</td>
                                        <td>${key.ItemName}</td>
                                        <td class="text-center">${key.CantidadTotalPorSKU}</td>
                                        <td class="text-center"><input type="text" class="form-control text-center cls-readonly" value="RESERVA" readonly></td>
                                        <td class="text-center">${key.DetalleLotes.map(l => l.BatchNum).join(', ')}</td>
                                        <td class="text-center">
                                            <select id="det_undMaster_${key.ItemCode}" class="cls-limpiarItem_${key.ItemCode} form-select" data-detalle='${JSON.stringify(datosDetalle)}' onchange="calcularCantidadMasterSaldo(this.value, JSON.parse(this.getAttribute('data-detalle')))">
                                                <option value="">Seleccione</option>
                                                ${cargarOpcionesMasters(key.UnidadAlmSugerido)}
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <input type="text" id="det_cantidadMaster_${key.ItemCode}" class="form-control text-center cls-num cls-readonly cls-limpiarItem_${key.ItemCode}" readonly>
                                            </td>
                                        <td class="text-center">
                                            <input type="text" id="det_cantidadSaldo_${key.ItemCode}" class="form-control text-center cls-num cls-readonly cls-limpiarItem_${key.ItemCode}" readonly>
                                            </td>
                                        <td class="text-center">
                                            <select id="det_ubicacion_${key.ItemCode}" class="form-select cls-limpiarItem_${key.ItemCode}" onfocus="cargarUbicaciones('RESERVA', '${key.ItemCode}', 'det_ubicacion_${key.ItemCode}')">
                                                <option>Seleccione</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger" onclick="limpiarValoresItem('cls-limpiarItem_${key.ItemCode}')" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar valores de este ítem"><i class="bi bi-eraser-fill"></i></button>
                                        </td>
                                    </tr>`
            }

            document.querySelector('#tbl_detalle tbody').innerHTML = tbody
            inicializarSlimSelectsPorClase('cls-select')
            $('[data-bs-toggle="tooltip"]').tooltip()

            // ✅ Expansión de Nivel 2: Lotes dentro del Producto
            $('#tbl_detalle tbody').on('click', 'td.details-control', function () {
                let tr = $(this).closest('tr');
                let row = $('#tbl_detalle').DataTable().row(tr);
                let productoID = tr.data('producto');
                let button = $(this).find('button i');

                if (row.child.isShown()) {
                    row.child.hide();
                    button.removeClass('bi-chevron-up').addClass('bi-chevron-down');
                } else {
                    let lotesTableHtml = formatLotes(detalle[productoID]);
                    row.child(lotesTableHtml).show();
                    button.removeClass('bi-chevron-down').addClass('bi-chevron-up');
                    inicializarSlimSelectsPorClase('cls-select');

                    let configDataTable = {
                        paging: false,          // ❌ Deshabilitar paginación
                        searching: false,       // ❌ Ocultar la barra de búsqueda
                        info: false,            // ❌ Ocultar el número de registros ("Mostrando X de Y registros")
                        ordering: false,        // ❌ Deshabilitar la opción de ordenar columnas
                        lengthChange: false,    // ❌ Ocultar el selector de cantidad de elementos por página
                        bFilter: false,         // ❌ Desactivar filtrado de DataTables
                        bSort: false,           // ❌ Desactivar ordenamiento en columnas
                        bPaginate: false,       // ❌ Desactivar paginación manualmente
                        autoWidth: false,       // ✅ Evita que DataTables ajuste el ancho de las columnas automáticamente
                        responsive: true        // ✅ Mantiene la tabla responsiva si es necesario
                    }

                    $('#tbl_detalleLotes tbody').on('click', 'td.lotes-control', function (event) {
                        let tr2 = $(this).closest('tr'); // Obtener la fila actual
                        let row2 = $('#tbl_detalleLotes').DataTable(configDataTable).row(tr2); // Obtener la fila de DataTable
                        let lote = tr2.data('lote'); // Obtener el identificador del lote
                        let button2 = $(this).find('button i');

                        if (row2.child.isShown()) {
                            row2.child.hide();
                            button2.removeClass('bi-chevron-up').addClass('bi-chevron-down');
                        } else {
                            button2.removeClass('bi-chevron-down').addClass('bi-chevron-up');
                            inicializarSlimSelectsPorClase('cls-select');
                        }
                    });

                    // Evento para clonar filas dentro de `#tbl_detalleLotes`
                    $('#tbl_detalleLotes tbody').on('click', '.btn-cobefar', function () {
                        let filaOriginal = $(this).closest('tr'); // Obtener la fila original
                        let filaClonada = filaOriginal.clone(); // Clonar la fila completa

                        // Modificar IDs para evitar duplicados
                        actualizarIDs(filaClonada);

                        // Insertar la fila clonada después de la fila original
                        filaOriginal.after(filaClonada);

                        if ($.fn.DataTable.isDataTable("#tbl_detalleLotes")) {
                            $("#tbl_detalleLotes").DataTable().destroy();
                        }

                        ('#tbl_detalleLotes').DataTable(configDataTable)
                    });

                    // ✅ Función para actualizar IDs y evitar duplicados
                    function actualizarIDs(fila) {
                        // Generar un solo uniqueID por fila para mantener consistencia
                        let uniqueID = Math.floor(Math.random() * 1000);

                        fila.find("[id]").each(function () {
                            let baseID = $(this).attr("id");
                            let nuevoID = baseID + "_clone_" + uniqueID; // Reutiliza el mismo uniqueID en toda la fila
                            $(this).attr("id", nuevoID);
                        });

                        // Si el elemento tiene la clase cls-detMaster, actualizar sus data-attributes relacionados
                        fila.find(".cls-detMaster").each(function () {
                            let baseIdCantMaster = $(this).attr("data-idcantmaster")
                            let baseIdCantSaldo = $(this).attr("data-idcantsaldo")

                            let nuevoIdCantMaster = baseIdCantMaster + "_clone_" + uniqueID
                            let nuevoIdCantSaldo = baseIdCantSaldo + "_clone_" + uniqueID

                            $(this).attr("data-idcantmaster", nuevoIdCantMaster)
                            $(this).attr("data-idcantsaldo", nuevoIdCantSaldo)
                        });

                        // Actualizar `data-detalle` manteniendo el mismo uniqueID
                        fila.find("[data-detalle]").each(function () {
                            let datosDetalle = JSON.parse($(this).attr("data-detalle"))
                            datosDetalle.itemCode = datosDetalle.itemCode + "_clone_" + uniqueID
                            $(this).attr("data-detalle", JSON.stringify(datosDetalle))
                        });

                        // Eliminar el botón .btn-cobefar de la fila clonada
                        fila.find(".btn-cobefar").remove()
                    }


                }
            });
        }

        // 2do Nivel
        function formatLotes(articulo) {
            let tableHtml = `<div class="d-flex justify-content-center"><table id="tbl_detalleLotes" class="table table-sm table-bordered table-hover subtable w-75">
                                            <thead class="table-secondary">
                                                <tr>
                                                    <th scope="col" class="text-center">Lote</th>
                                                    <th scope="col" class="text-center">Fecha de Vencimiento</th>
                                                    <th scope="col" class="text-center">Stock UNIDADES</th>
                                                    <th scope="col" class="text-center">Unidad MASTER</th>
                                                    <th scope="col" class="text-center">Cantidad en MASTER</th>
                                                    <th scope="col" class="text-center">Cantidad en SALDO</th>
                                                    <th scope="col" class="text-center">Ubicación</th>
                                                    <th scope="col" style="width: 5%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>`

            articulo.DetalleLotes.forEach(item => {
                let datosDetalle = {}
                datosDetalle = {
                    itemCode: articulo.ItemCode,
                    cantidadTotal: item.CantidadTotalPorSKUyLote,
                    cantidadMasterId: `lote_cantidadMaster_${item.BatchNum}`,
                    cantidadSaldoId: `lote_cantidadSaldo_${item.BatchNum}`
                }

                tableHtml += `<tr data-lote="${item.BatchNum}">
                                                <td class="text-center">${item.BatchNum}</td>
                                                <td class="text-center">${item.FechaVencimiento}</td>
                                                <td class="text-center"><input type="text" class="form-control" value="${item.CantidadTotalPorSKUyLote}"></td>
                                                 <td scope="col" class="text-center align-middle">
                                                     <select id="lote_undMaster_${item.BatchNum}" data-idcantmaster="lote_cantidadMaster_${item.BatchNum}" data-idcantsaldo="lote_cantidadSaldo_${item.BatchNum}" data-cantidadtotal="${item.CantidadTotalPorSKUyLote}"
                                                        class="form-select cls-detMaster cls-limpiarItem_${articulo.ItemCode}" onchange="calcularCantidadMasterSaldo(this.value, this.dataset)">
                                                         <option>Seleccione</<option>
                                                         ${opcionesMasters}
                                                     </select>
                                                 </td>
                                                <td scope="col" class="text-center"><div class="mx-auto w-75"><input type="text" id="lote_cantidadMaster_${item.BatchNum}" class="form-control text-center cls-num cls-readonly cls-limpiarItem_${articulo.ItemCode}" readonly></div></td>
                                                 <td scope="col" class="text-center"><div class="mx-auto w-75"><input type="text" id="lote_cantidadSaldo_${item.BatchNum}" class="form-control text-center cls-num cls-readonly cls-limpiarItem_${articulo.ItemCode}" readonly></div></td>
                                                <td class="text-center">
                                                    <select id="ubicacion_${item.BatchNum}" class="form-select cls-limpiarItem_${articulo.ItemCode}">
                                                        <option>Seleccione</option>
                                                    </select>
                                                </td>
                                                <td class="lotes-control text-center"><button class="btn btn-sm btn-cobefar"><i class="bi bi-plus-lg"></i></button></td>
                                            </tr>`
            });

            tableHtml += '</tbody></table></div>'
            return tableHtml
        }

        function construirFormCopiaSap(traslado) {
            document.querySelector('#copiaDocEntry').value = traslado.DocEntry
            document.querySelector('#copiaDocNum').value = traslado.DocNum
            document.querySelector('#copiaNroGuia').value = traslado.NroGuia
            document.querySelector('#copiaCardCode').value = traslado.CardCode
            document.querySelector('#copiaCardName').value = traslado.CardName
            document.querySelector('#copiaOperarioResponsableSAP').value = traslado.OperarioResponsableSAP
            document.querySelector('#copiaMotivoTraslado').value = traslado.MotivoTraslado
            document.querySelector('#copiaDocDate').value = traslado.DocDate

            let tbody = ''
            for (var itemCode in traslado.Detalle) {
                key = traslado.Detalle[itemCode]

                key.DetalleLotes.forEach(item => {
                    tbody += ` <tr>
                                             <td scope="col"><input type="text" name="Detalle[].ItemCode" value="${key.ItemCode}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].ItemName" value="${key.ItemName}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].BatchNum" value="${item.BatchNum}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].InDate" value="${item.FechaAdmision}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].ExpDate" value="${item.FechaVencimiento}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].QuantityCajas" value="${item.CantidadTotalPorSKUyLote}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].FromWhsCode" value="${key.AlmacenOrigen}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].ToWhsCode" value="${key.AlmacenDestino}"></td>
                                        </tr>`
                })
            }

            document.querySelector('#tbl_copiaSap tbody').innerHTML = tbody
        }

        async function cargarUbicaciones(almacen, itemCode, idUbicacion) {
            try {
                const response = await fetch("/AbastecimientoInterno/BuscarUbicaciones", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ almacen, itemCode }) // Enviar los datos como JSON
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }

                const data = await response.json();

                let ubicaciones = '<option value="">Seleccione</<option>'
                data.forEach((ubicacion, index) => {
                    ubicaciones += `<option value="${ubicacion}">${ubicacion}</option>`
                })

                document.querySelector(`#${idUbicacion}`).innerHTML = ubicaciones
                //console.log("ubicaciones: "+ data)
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function calcularCantidadMasterSaldo(valorSelectMaster, data) {
            let cantidadMaster = Math.floor(data.cantidadtotal / valorSelectMaster)
            let cantidadSaldo = data.cantidadtotal % valorSelectMaster
            //let camposALimpiar = document.querySelectorAll(`.${obj.claseCampos}`)

            document.querySelector(`#${data.idcantmaster}`).value = cantidadMaster
            document.querySelector(`#${data.idcantsaldo}`).value = cantidadSaldo
        }

        document.addEventListener('DOMContentLoaded', function () {
            permitirSoloNumeros('DocNum')
            document.getElementById("btn_transferir").addEventListener("click", realizarTransferencia)



            function actualizarIDs(fila) {
                let nuevosIDs = {}; // Objeto para almacenar nuevos IDs

                fila.querySelectorAll("[id]").forEach(elemento => {
                    let nuevoID = elemento.id + "_clone_" + Math.floor(Math.random() * 1000); // Genera un ID único
                    nuevosIDs[elemento.id] = nuevoID; // Guarda el nuevo ID
                    elemento.id = nuevoID; // Asigna el nuevo ID al elemento
                });

                // ✅ Actualizar atributos `for` de labels, `data-*` u otros atributos si es necesario
                fila.querySelectorAll("[data-detalle]").forEach(elemento => {
                    let datosDetalle = JSON.parse(elemento.getAttribute("data-detalle"));
                    datosDetalle.itemCode += "_clone"; // Cambia el itemCode o algún otro identificador
                    elemento.setAttribute("data-detalle", JSON.stringify(datosDetalle)); // Reasigna el JSON actualizado
                });
            }
        });

        function limpiarValoresItem(claseItemCode) {
            let elementos = document.querySelectorAll(`.${claseItemCode}`)

            elementos.forEach(element => {
                console.log(element);
                if (element) {
                    element.value = '';
                }
            });
        }
    </script>
}