@{
    ViewBag.Title = "Solicitudes de Traslado";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><em>Abastecimiento Interno</em></li>
            <li class="current"><em>Solicitudes de Traslado</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">SOLICITUDES DE TRASLADO</h3></div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row mb-4">
        <div class="col-lg-2">
            <input type="hidden" id="DocEntry" name="DocEntry" readonly />
            <label for="" class="form-label fw-bold">Tipo de documento:</label>
            <select id="" class="form-select">
                <option value="OWTQ">Solicitud de Traslado</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="DocNum" class="form-label fw-bold">DocNum:</label>
            <input type="text" id="DocNum" class="form-control" name="DocNum" autocomplete="off" />
        </div>

        <div class="col-lg-2">
            <label for="NroGuia" class="form-label fw-bold">Nro. de guía:</label>
            <input type="text" id="NroGuia" class="form-control cls-readonly text-center" name="NroGuia" autocomplete="off" readonly />
        </div>

        <div class="col-lg-3">
            <label for="CardName" class="form-label fw-bold">Socio de Negocio:</label>
            <input type="hidden" id="CardCode" name="CardCode" readonly />
            <input type="text" id="CardName" class="form-control cls-readonly text-center" name="CardName" autocomplete="off" readonly />
        </div>

        <div class="col-lg-3">
            <label for="OperarioResponsableSAP" class="form-label fw-bold">Operario Responsable SAP:</label>
            <input type="text" id="OperarioResponsableSAP" class="form-control cls-readonly text-center" name="OperarioResponsableSAP" autocomplete="off" readonly />
            <input type="hidden" id="MotivoTraslado" name="MotivoTraslado" readonly />
            <input type="hidden" id="DocDate" name="DocDate" readonly />
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-warning" onclick="buscarSolicitud()" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar"><i class="bi bi-search"></i> Buscar</button>
        </div>
    </div>

    <hr />

    <div>
        <form id="frm_tablaCopiaSap">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <input type="text" id="copiaDocEntry" name="DocEntry" readonly />
                    <input type="text" id="copiaDocNum" name="DocNum" readonly />
                    <input type="text" id="copiaNroGuia" name="NroGuia" readonly />
                    <input type="text" id="copiaCardCode" name="CardCode" readonly />
                </div>
            </div><!-- row -->

            <div class="row mb-4">
                <div class="col-lg-12">
                    <input type="text" id="copiaCardName" name="CardName" readonly />
                    <input type="text" id="copiaOperarioResponsableSAP" name="OperarioResponsableSAP" readonly />
                    <input type="text" id="copiaMotivoTraslado" name="MotivoTraslado" readonly />
                    <input type="text" id="copiaDocDate" name="DocDate" readonly />
                </div>
            </div><!-- row -->


        </form>

        <table id="tbl_copiaSap" class="table">
            <thead>
                <tr>
                    <th scope="col">ItemCode</th>
                    <th scope="col">ItemName</th>
                    <th scope="col">BatchNum</th>
                    <th scope="col">QuantityCajas</th>
                    <th scope="col">FromWhsCode</th>
                    <th scope="col">ToWhsCode</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row mb-4">
        <div class="col-lg-12">
            <table id="tbl_detalle" class="dt-container dt-empty-footer table table-sm table-hover font-14" width="100%">
                <thead class="thead-cobefar">
                    <tr>
                        <th style="width: 5%;"></th>
                        <th scope="col" class="text-center">Código de artículo</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col" class="text-center">Alm. Destino</th>
                        <th scope="col" class="text-center">Lotes</th>
                        <th scope="col" class="text-center">Unidad Alm.</th>
                        <th scope="col" class="text-center">Cant . MASTER</th>
                        <th scope="col" class="text-center">Cant . Saldo</th>
                        <th scope="col" class="text-center">Ubicación</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar"><i class="bi bi-x-lg"></i> Cancelar</button>
            <button type="button" id="btn_transferir" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Transferir"><i class="bi bi-arrow-left-right"></i> Transferir</button>
        </div>
    </div>
</div><!-- main -->

@section Scripts{
    <script>
        // Declaración de variables
        let opcionesMasters = ''

        // Funciones
        function cargarOpcionesMasters() {
            const masters = @Html.Raw(Json.Encode(ViewBag.Masters));
                masters.forEach(item => {
                opcionesMasters += `<option value="${item.ValorUmAlm}">${item.UmAlm}</option>`
            })
        }

        async function realizarTransferencia() {
            const form = document.querySelector('#frm_tablaCopiaSap')

            if (!form) {
                console.log("Formulario no válido.");
                return;
            }

            const filas = document.querySelectorAll("#tbl_copiaSap tbody tr");
            let detalles = [];

            filas.forEach((fila) => {
                let inputs = fila.querySelectorAll("input");
                let detalle = {};

                inputs.forEach(input => {
                    let key = input.name.replace("Detalle[].", ""); // Extraer el nombre del campo
                    detalle[key] = input.value;
                });

                detalles.push(detalle);
            });

            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());
            jsonData.Detalle = detalles

            try {
                const response = await fetch("/AbastecimientoInterno/RegistrarTransferenciaDeStock", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonData)
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.status}`);
                }

                const data = await response.json();
                //console.log(data)
            } catch (error) {
                console.error("Error:", error);
            }
        }

        async function buscarSolicitud() {
            let docNum = document.querySelector('#DocNum').value

            try {
                const response = await fetch("/AbastecimientoInterno/BuscarSolicitudDeTraslado", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ docNum }) // Enviar los datos como JSON
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }

                const data = await response.json();
                //console.log("data: "+ data)

                document.querySelector('#NroGuia').value = data.traslado.NroGuia
                document.querySelector('#CardCode').value = data.traslado.CardCode
                document.querySelector('#CardName').value = data.traslado.CardName
                document.querySelector('#OperarioResponsableSAP').value = data.traslado.OperarioResponsableSAP
                document.querySelector('#MotivoTraslado').value = data.traslado.MotivoTraslado
                document.querySelector('#DocDate').value = data.traslado.DocDate

                let tbody = ''
                let key = ''

                construirFormCopiaSap(data.traslado)
                for (var itemCode in data.traslado.Detalle) {
                    //item.DetalleLotes.forEach(lote => { lote.push })
                    key = data.traslado.Detalle[itemCode]
                    tbody += `<tr data-producto="${key.ItemCode}">
                                            <td class="details-control"><button class="btn btn-sm btn-cobefar-2"><i class="bi bi-chevron-down"></i></button></td>
                                            <td scope="col" class="text-center">${key.ItemCode}</td>
                                            <td scope="col">${key.ItemName}</td>
                                            <td scope="col" class="text-center">${key.CantidadTotalPorSKU}</td>
                                            <td scope="col" class="text-center" style="width: 140px;"><div class="mx-auto w-75"><input type="text" class="form-control text-center cls-readonly" value="RESERVA" readonly></div></td>
                                            <td scope="col" class="text-center">${key.DetalleLotes.map(l => l.BatchNum).join(', ')}</td>
                                            <td scope="col" class="text-center" style="width: 170px;">
                                            <select class="form-select" onchange="calcularCantidadMasterSaldo('${key.CantidadTotalPorSKU}', this.value, 'cantidadMaster_${key.ItemCode}', 'cantidadSaldo_${key.ItemCode}')">
                                                    <option value="">Seleccione</<option>
                                                    ${opcionesMasters}
                                                </select>
                                        </td>
                                            <td scope="col" class="text-center"><div class="mx-auto w-75"><input type="text" id="cantidadMaster_${key.ItemCode}" class="form-control text-center cls-num"></div></td>
                                            <td scope="col" class="text-center"><div class="mx-auto w-75"><input type="text" id="cantidadSaldo_${key.ItemCode}" class="form-control text-center cls-num"></div></td>
                                            <td scope="col" class="text-center" style="width: 170px;">
                                            <select id="ubicacion_${key.ItemCode}" class="form-select" onfocus="cargarUbicaciones('RESERVA', '${key.ItemCode}', 'ubicacion_${key.ItemCode}')">
                                                <option>Seleccione</<option>
                                            </select>
                                            </td>
                                            <td scope="col" class="text-center"><button type="button" class="btn btn-cobefar-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar"><i class="bi bi-eraser-fill"></i></button></td>
                                        </tr>`;
                }

                document.querySelector('#tbl_detalle tbody').innerHTML = tbody
                inicializarSlimSelectsPorClase('cls-select')
                permitirValoresNumericosPositivos()

                $('#tbl_detalle tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = $('#tbl_detalle').DataTable().row(tr);
                    var productoID = tr.data('producto');
                    var button = $(this).find('button i');

                    if (row.child.isShown()) {
                        // Cerrar fila
                        row.child.hide();
                        button.removeClass('bi-chevron-up').addClass('bi-chevron-down');
                    } else {
                        // Abrir y mostrar lotes
                        row.child(formatLotes(data.traslado.Detalle[productoID])).show();
                        button.removeClass('bi-chevron-down').addClass('bi-chevron-up');
                        inicializarSlimSelectsPorClase('cls-select')
                    }
                });

                Swal.fire({
                    title: data.traslado.Icono ? data.traslado.Mensaje : 'Datos SAP importados correctamente.',
                    html: data.traslado.Comentario,
                    icon: data.traslado.Icono,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    showConfirmButton: true
                })
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function formatLotes(articulo) {
            //console.log(articulo)
            let tableHtml = `
            <div class="d-flex table-responsive justify-content-center">
                <table class="table table-sm table-bordered table-hover subtable w-75">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">Lote</th>
                            <th scope="col" class="text-center">Fecha de Vencimiento</th>
                            <th scope="col" class="text-center">Stock UNIDADES</th>
                            <th scope="col" class="text-center">Unidad MASTER</th>
                            <th scope="col" class="text-center">Cantidad en MASTER</th>
                            <th scope="col" class="text-center">Cantidad en SALDO</th>
                            <th scope="col" class="text-center">Ubicación</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>`;

                articulo.DetalleLotes.forEach(item => {
                    tableHtml += `<tr>
                        <td  class="text-center align-middle">${item.BatchNum}</td>
                        <td  class="text-center align-middle">${item.FechaVencimiento}</td>
                        <td  class="text-center align-middle">${item.CantidadTotalPorSKUyLote}</td>
                        <td  class="text-center align-middle">
                            <select class="cls-select">
                                <option>Seleccione</<option>
                                ${opcionesMasters}
                            </select>
                        </td>
                        <td  class="text-center align-middle"></td>
                        <td  class="text-center align-middle"></td>
                        <td  class="text-center align-middle">
                            <select class="cls-select">
                                <option>Seleccione</<option>
                            </select>
                        </td>
                        <td  class="text-center align-middle">
                            <button class="btn btn-cobefar" onclick="eliminarUbicacion()" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar ubicación"><i class="bi bi-plus-lg"></i></button>
                        </td>
                    </tr>`
                })

            tableHtml += '</tbody></table></div>';

            return tableHtml;
        }

        async function cargarUbicaciones(almacen, itemCode, idUbicacion) {
            itemCode = 'GSKCH0027'

            try {
                const response = await fetch("/AbastecimientoInterno/BuscarUbicaciones", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ almacen, itemCode }) // Enviar los datos como JSON
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }

                const data = await response.json();

                let ubicaciones = '<option value="">Seleccione</<option>'
                data.forEach((ubicacion, index) => {
                    ubicaciones += `<option value="${ubicacion}">${ubicacion}</option>`
                })

                document.querySelector(`#${idUbicacion}`).innerHTML = ubicaciones
                //console.log("ubicaciones: "+ data)
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function calcularCantidadMasterSaldo(cantidadTotalPorSKU, cantidadEquivalenteMaster, idCantidadMaster, idCantidadSaldo) {
            let cantidadMaster = Math.floor(cantidadTotalPorSKU / cantidadEquivalenteMaster)
            let cantidadSaldo = cantidadTotalPorSKU % cantidadEquivalenteMaster

            document.querySelector(`#${idCantidadMaster}`).value = cantidadMaster
            document.querySelector(`#${idCantidadSaldo}`).value = cantidadSaldo
        }

        function construirFormCopiaSap(traslado) {
            document.querySelector('#copiaDocEntry').value = traslado.DocEntry
            document.querySelector('#copiaDocNum').value = traslado.DocNum
            document.querySelector('#copiaNroGuia').value = traslado.NroGuia
            document.querySelector('#copiaCardCode').value = traslado.CardCode
            document.querySelector('#copiaCardName').value = traslado.CardName
            document.querySelector('#copiaOperarioResponsableSAP').value = traslado.OperarioResponsableSAP
            document.querySelector('#copiaMotivoTraslado').value = traslado.MotivoTraslado
            document.querySelector('#copiaDocDate').value = traslado.DocDate

            let tbody = ''
            for (var itemCode in traslado.Detalle) {
                key = traslado.Detalle[itemCode]

                key.DetalleLotes.forEach(item => {
                    tbody += ` <tr>
                                             <td scope="col"><input type="text" name="Detalle[].ItemCode" value="${key.ItemCode}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].ItemName" value="${key.ItemName}"></td>
                                             <td scope="col"><input type="text" name="Detalle[].BatchNum" value="${item.BatchNum}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].QuantityCajas" value="${item.CantidadTotalPorSKUyLote}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].FromWhsCode" value="${key.AlmacenOrigen}"></td>
                                            <td scope="col"><input type="text" name="Detalle[].ToWhsCode" value="${key.AlmacenDestino}"></td>
                                        </tr>`
                })
            }

            document.querySelector('#tbl_copiaSap tbody').innerHTML = tbody
        }

        document.addEventListener('DOMContentLoaded', function () {
            permitirSoloNumeros('DocNum')
            cargarOpcionesMasters()
            document.getElementById("btn_transferir").addEventListener("click", realizarTransferencia);
        });
    </script>
}