@{
    ViewBag.Title = "Ubicaciones Picking";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><em>Abastecimiento Interno</em></li>
            <li class="current"><em>Ubicaciones Picking</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">UBICACIONES PICKING</h3></div>

    <div class="row px-3 py-3">
        <div class="col-12">
            <button type="button" id="btn_nuevaUbicacionPicking" class="btn btn-warning border border-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Nueva ubicación picking">
                <i class="bi bi-plus-lg"></i> Nueva ubicación
            </button>
        </div>
    </div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row">
        <div class="col-12">
            <div id="div_listado" class="bg-white"></div>
        </div>
    </div><!-- row -->
</div><!-- main -->

<div class="modal fade" id="modalNuevaUbicacionPicking" tabindex="-1" aria-labelledby="modalNUPLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header text-white bg-headerModals">
                <h5 class="modal-title" id="modalNUPLabel">Registrar ubicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" tabindex="-1"></button>
            </div>

            <div class="modal-body bg-blancoHumo">
                <div id="div_modalBody" class="container pb-0">
                    <form id="frm_registroUbicacion">
                        <div class="row mb-4">
                            <div class="col-lg-2">
                                <label class="form-label fw-bold">Código de artículo:</label>
                                <input type="text" id="ItemCode" name="ItemCode" class="form-control cls-readonly" autocomplete="off" readonly />
                            </div>
                            <div class="col-lg-7">
                                <label class="form-label fw-bold">Descripción:</label>
                                <select id="ItemName" name="ItemName" class="cls-select" onchange="llenarItemCode(this)">
                                    <option value="" data-itemcode="">Seleccione</option>
                                    @foreach (var item in ViewBag.Productos)
                                    {
                                        <option value="@item.ItemName" data-itemcode="@item.ItemCode">@item.ItemName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">Código de ubicación:</label>
                                <input type="text" id="CodigoUbicacion" name="CodigoUbicacion" class="form-control cls-readonly text-center" autocomplete="off" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">¿La ubicación es SISTEMA?:</label>
                                <div class="d-flex mx-auto align-items-center">
                                    <div class="form-check form-check-inline">
                                        <input id="ubiSistemaSi" class="form-check-input" type="radio" name="UbiSistema" value="si" onclick="mostrarCamposUbicacion('SI')">
                                        <label class="form-check-label" for="ubiSistemaSi">Sí</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input id="ubiSistemaNo" class="form-check-input" type="radio" name="UbiSistema" value="no" onclick="mostrarCamposUbicacion('NO')" checked>
                                        <label class="form-check-label" for="ubiSistemaNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="div_codigos">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="form-label fw-bold">Almacén:</label>
                                    <input id="almacen" class="form-control text-uppercase" type="text" autocomplete="off" value="PICKING" readonly />
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label fw-bold">Rack - Bloque:</label>
                                    <input id="rackBloque" class="form-control text-uppercase" type="text" autocomplete="off" oninput="generarCodigoUbicacion($('#almacen').val(), 0); generarCodigoUbicacion(this.value, 1)" />
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label fw-bold">Posición:</label>
                                    <input id="posicion" class="form-control text-uppercase" type="text" autocomplete="off" oninput="generarCodigoUbicacion(this.value, 2)" />
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label fw-bold">Nivel:</label>
                                    <input id="nivel" class="form-control text-uppercase" type="text" autocomplete="off" oninput="generarCodigoUbicacion(this.value, 3)" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-placement="top" title="Cerrar">
                    <i class="bi bi-x-lg"></i> Cerrar
                </button>
                <button type="button" id="btn_guardarCambios" class="btn btn-success" data-function="" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar cambios">
                    <i class="bi bi-check-lg"></i> Guardar cambios
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/AbastecimientoInterno/Ubicaciones.js?v=@DateTime.Now.Ticks" defer></script>
    <script>
		document.addEventListener('DOMContentLoaded', function () {
			$('#div_listado').load(`@Url.Action("ListarUbicacionesPicking")`).fadeIn("fast")
			limitarMaxCaracteres('ItemCode', 50)
			limitarMaxCaracteres('CodigoUbicacion', 228)
            permitirSoloNumeros('nivel')
            inicializarSlimSelectsPorClase('cls-select')
            permitirValoresNumericosPositivos()
		});

		document.querySelector('#btn_nuevaUbicacionPicking').addEventListener('click', function () {
		    const modal = document.querySelector('#modalNuevaUbicacionPicking')
            const bootstrapModal = new bootstrap.Modal(modal, {
                focus: false
            })
			bootstrapModal.show()
		})

        document.querySelector('#btn_guardarCambios').addEventListener('click', async function () {
            const form = document.querySelector('#frm_registroUbicacion');

            if (!form) {
                console.log('Error: El formulario no se encontró.');
                return;
            }

            // Crear FormData y convertirlo a un objeto JSON
            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());

            try {
                const response = await fetch("/AbastecimientoInterno/RegistrarUbicacionPicking", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(jsonData) // Enviar los datos como JSON
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.statusText}`);
                }

                const data = await response.json();

                if (data.Icono == 'success') {
                    resetValoresVacios(["ItemCode", "ItemName", "StockMinAbastecimiento", "StockMinVenta","CodigoUbicacion", "rackBloque", "posicion", "nivel"])
                    inicializarSlimSelectsPorClase('cls-select')

                    const radios = document.querySelectorAll(`input[name="UbiSistema"]`)
                    radios.forEach(radio => {
                        if (radio.value === "no") {
                            radio.checked = true
                        }
                    })
                }

                Swal.fire({
                    title: data.Titulo,
                    html: Array.isArray(data.Mensajes) && data.Mensajes.length > 0
                        ? data.Mensajes.join('<br>')
                        : data.Mensajes || "",
                    icon: data.Icono,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    showConfirmButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#div_listado').load(`@Url.Action("ListarUbicacionesPicking")`).fadeIn("fast")
                    }
                });


            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
}