@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body::after {
    content: "PRUEBAS";
    position: fixed;
    font-size: 150px;
    opacity: 0.05;
    transform: rotate(-45deg);
    top: 30%;
    right: 10%;
    z-index: 0;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
}

body::after {
    content: "PRUEBAS";
    position: fixed;
    font-size: 150px;
    opacity: 0.05;
    transform: rotate(-45deg);
    top: 60%;
    right: 10%;
    z-index: 0;
}

.container {
    padding-bottom: 15px;
}

.titulo-seccion {
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    color: white;
    font-size: 23px;
}

th {
    color: white;
}

.bg-skyblue {
    background-color: #ADD8E6;
}

td {
    padding: 5px;
}

#accion {
    float: left;
    margin-right: 10px;
}

footer {
    background-color: #424242 !important;
    width: 100%;
    color: white;
    bottom: 0;
    align-self: flex-end;
}

    footer h6 {
        font-weight: 700;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        color: white;
        font-size: 16px;
    }

.container-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.container-footer {
    background-color: #424242 !important;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.column1, .column2 {
    max-width: 600px;
}

/* Reemplaza el color de fondo para la clase table-hover */
.table-hover {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: #d5f5e3 !important;
}
    .table-hover tbody tr:hover td {
        color: black;
   
    }

@media screen and (max-width:1100px) {
    .container-body {
        flex-wrap: wrap;
    }

    .column2 {
        margin-top: 40px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #004085;
    font-size: 14px;
}

.dropdown-item {
    font-size: 14px;
    color: darkgreen;
}

.table thead th {
    vertical-align: middle;
    border-bottom: hidden;
    border-top: hidden;
}

.table tbody tr {
    vertical-align: middle;
    /*    border-bottom: hidden;
    border-top: hidden;*/
}

.shadow-inputs-form {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.cd-breadcrumb, .cd-multi-steps {
    /*width: 90%;
      max-width: 768px;*/
    padding: 0.2em 1em;
    margin-top: 0px;
    /*margin: 1em auto;*/
    /*background-color: #edeff0;*/
    border-radius: .25em;
}

    .cd-breadcrumb::after, .cd-multi-steps::after {
        clear: both;
        content: "";
        display: table;
    }

    .cd-breadcrumb li, .cd-multi-steps li {
        display: inline-block;
        float: left;
        margin: 0.5em 0;
    }

        .cd-breadcrumb li::after, .cd-multi-steps li::after {
            /* this is the separator between items */
            display: inline-block;
            content: '\00bb';
            margin: 0 .6em;
            color: #959fa5;
        }

        .cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
            /* hide separator after the last item */
            display: none;
        }

        .cd-breadcrumb li > *, .cd-multi-steps li > * {
            /* single step */
            display: inline-block;
            font-size: 16px;
            color: #fff;
        }

        .cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
            /* selected step */
            color: #96c03d;
        }

.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #96c03d;
}

.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
    /* replace the default separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-icons-01.svg) no-repeat 0 0;
    vertical-align: middle;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
    /* change custom icon using image sprites */
    background-position: -20px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
    background-position: -40px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
    background-position: -60px 0;
}

.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
    /* change custom icon for the current item */
    background-position: 0 -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
    background-position: -20px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
    background-position: -40px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
    background-position: -60px -20px;
}

@media only screen and (min-width: 768px) {
    .cd-breadcrumb, .cd-multi-steps {
        padding: 0 1.2em;
    }

        .cd-breadcrumb li, .cd-multi-steps li {
            margin: 0.6em 0;
        }

            .cd-breadcrumb li::after, .cd-multi-steps li::after {
                margin: 0 1em;
            }

            .cd-breadcrumb li > *, .cd-multi-steps li > * {
                font-size: 16px;
            }
}


a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        text-decoration: none;
        color: red;
    }

.text-cobefar {
    color: #26653D;
}

.text-cobefar-2 {
    color: #96c03d;
}

.text-cobefar-3 {
    color: #ffc107;
}

.text-purple {
    color: #7C00F7;
}

.text-orange {
    color: orangered;
}

.text-darkblue {
    color: darkblue;
}

.border-cabecera-seccion {
    border-radius: 10px 10px 0px 0px;
}

/*** Fondos ***/
.bg-cobefar {
    background-color: #26653D !important;
    /*background-color: darkgoldenrod !important;*/
}

.bg-cobefar-2 {
    background-color: #96c03d !important;
}

.bg-cobefar-3 {
    background-color: #15937E !important;
}

    .bg-cobefar-3:hover {
        background-color: #93152a !important;
        outline: none;
    }

.bg-cobefar-4 {
    background-color: #156993 !important;
}

    .bg-cobefar-4:hover {
        background-color: #93152a !important;
        outline: none;
    }

.bg-cobefar-5 {
    background-color: #46AD80 !important;
}

.bg-cobefar-6 {
    background-color: #006450 !important;
}

.bg-cobefar-degradado-1 {
    background: linear-gradient(to right, #000 0%,#009879 100%)
}

.table .thead-cobefar th {
    color: white;
    background-color: #46AD80;
    border-color: #dee2e6;
}

.bg-colorComplementario {
    background-color: #93152a !important;
}

.bg-form-pestanas-cobefar {
    background-color: #FAFAFA !important;
    min-height: calc(100vh - 250px);
}

.bg-blancoHumo {
    background-color: #F1F1F1;
}

.bg-grisClaro {
    background-color: #DDDDDD;
}

.bg-anaranjado {
    background-color: #e76a09;
}

/******************************/
/* Botones */
.btn-cobefar {
    color: #fff; /* Texto blanco */
    background-color: #26653D; /* Color de fondo */
    border-color: #26653D; /* Color del borde */
}

    .btn-cobefar:hover {
        color: #fff; /* Texto blanco */
        background-color: #1f5432; /* Color de fondo más oscuro al pasar el cursor */
        border-color: #1f5432; /* Color del borde más oscuro al pasar el cursor */
    }

    .btn-cobefar:focus,
    .btn-cobefar.focus {
        color: #fff;
        background-color: #1f5432;
        border-color: #1f5432;
        box-shadow: 0 0 0 0.25rem rgba(38, 101, 61, 0.5); /* Sombra para enfoque */
    }

    .btn-cobefar:disabled,
    .btn-cobefar.disabled {
        color: #fff;
        background-color: #26653D;
        border-color: #26653D;
        opacity: 0.65; /* Reducir opacidad para indicar desactivado */
    }


.btn-cobefar-2 {
    color: #fff; /* Color del texto */
    background-color: #156993; /* Color de fondo personalizado */
    border-color: #156993; /* Color del borde */
}

    .btn-cobefar-2:hover {
        color: #fff;
        background-color: #13587a; /* Un tono más oscuro para el efecto hover */
        border-color: #13587a;
    }

    .btn-cobefar-2:focus, .btn-cobefar-2.focus {
        box-shadow: 0 0 0 0.25rem rgba(21, 105, 147, 0.5); /* Sombra al enfocar */
    }

    .btn-cobefar-2:disabled, .btn-cobefar-2.disabled {
        background-color: #156993;
        border-color: #156993;
        opacity: 0.65; /* Opacidad para desactivar */
    }

.text-naranja, .text-naranja:hover {
    color: orangered;
}

.btn-orange{
    background-color: orangered;
    color: white;
}

.btn-blue, .btn-blue:hover {
    background-color: darkblue;
    color: white;
}
.btn-fucsia {
    background-color: #640045;
    color: #333;
}
    .btn-fucsia:hover {
        background-color: #460833;
        border-color: #a01a77;
        color: #fff;
    }
.btn-amarillo {
    background-color: #f9c74f; /* Amarillo suave */
    border-color: #f9c74f; /* Color del borde */
    color: #333; /* Color del texto */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

.btn-amarillo:hover {
    background-color: #f8b400; /* Amarillo más oscuro en hover */
    border-color: #f8b400; /* Color del borde en hover */
    color: #fff; /* Color del texto en hover */
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #26653D !important;
    color: #fff;
    font-size: 1em;
}
/******************************/


/* Tab panel */
.nav-tabs {
    border-bottom: 1px solid #26653D;
}

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #fff;
        background-color: #26653D;
        font-weight: bold;
        border-color: #26653D #26653D #26653D;
    }
/******************************/

/* Modal */
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.modal-full-width {
    max-width: 100%;
}
/******************************/



/* DataTable */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    /*background-color: #26653D;
    border-color: #26653D;*/
    background-color: #3C8F7C;
    border-color: #3C8F7C;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #26653D;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        z-index: 2;
        color: #26653D;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #26653D;
    }

/* Head: Mostrar */
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal !important;
    text-align: left !important;
    white-space: nowrap !important;
    padding-left: 10px !important;
    color: #333 !important;
}

/* Head: Buscar */
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
    color: #333 !important;
}

/* footer: Mostrando */
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    padding-left: 10px;
    color: #333;
}

th {
    height: 40px; /* Ajusta esta altura según tus necesidades */
    vertical-align: middle; /* Centra el texto verticalmente */
}

/* footer: Paginaciòn */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 10px !important;
    white-space: nowrap;
    justify-content: flex-end;
}
/******************************/

/* Tamaño de fuentes */
.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}


.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-30 {
    font-size: 30px;
}

.select_filtro-table {
    font-size: 14px !important;
}

.input_filtro-table {
    font-size: 14px !important;
}

.input_date-filtro-table {
    font-size: 11px !important;
}
/******************************/
/* Responsive */
@media (min-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .div-pedidoonline-mobile {
        display: none;
    }

    .div-pedidoonline-pc {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    .div-pedidoonline-mobile {
        display: block;
    }

    .div-pedidoonline-pc {
        display: none;
    }
}
/******************************/


/* Timeline Seguimiento de Ticket */
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}

    .hori-timeline .events .event-list {
        display: block;
        position: relative;
        text-align: center;
        /*padding-top: 70px;*/
        padding-top: 0px !important;
        margin-right: 0;
    }

        .hori-timeline .events .event-list:before {
            content: "";
            position: absolute;
            height: 36px;
            border-right: 2px dashed #dee2e6;
            top: 0;
        }

        .hori-timeline .events .event-list .event-date {
            position: absolute;
            /* top: 38px;*/
            top: 0px;
            left: 0;
            right: 0;
            /*width: 75px;*/
            width: 100px;
            margin: 0 auto;
            border-radius: 4px;
            padding: 2px 4px;
        }

@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 12%;
        padding-top: 45px;
    }

        .hori-timeline .events .event-list .event-date {
            top: -12px;
        }
}

.bg-soft-primary {
    background-color: rgba(64,144,203,.3) !important;
}

.bg-soft-success {
    background-color: rgba(71,189,154,.3) !important;
}

.bg-soft-danger {
    background-color: rgba(231,76,94,.3) !important;
}

.bg-soft-warning {
    background-color: rgba(249,213,112,.3) !important;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
/******************************/







/******************************/



.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.li {
    transition: all 200ms ease-in;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.status {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

    .status:before {
        content: '';
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

.li.complete .status {
    border-top: 2px solid #66DC71;
}

    .li.complete .status:before {
        background-color: #66DC71;
        border: none;
        transition: all 200ms ease-in;
    }


.status-danger {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

    .status-danger:before {
        content: '';
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

.li.complete .status-danger {
    border-top: 2px solid #ffc107;
}

    .li.complete .status-danger:before {
        background-color: #ffc107;
        border: none;
        transition: all 200ms ease-in;
    }




.status-info {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

    .status-info:before {
        content: '';
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

.li.complete .status-info {
    border-top: 2px solid #17a2b8;
}

    .li.complete .status-info:before {
        background-color: #17a2b8;
        border: none;
        transition: all 200ms ease-in;
    }




.status-dark {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

    .status-dark:before {
        content: '';
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

.li.complete .status-dark {
    border-top: 2px solid #000;
}

    .li.complete .status-dark:before {
        background-color: #000;
        border: none;
        transition: all 200ms ease-in;
    }



@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}
/* Ocultar video en dispositivos móviles */
@media (max-width: 768px) {
    .bg-cobefar video {
        display: none;
    }

    #div_video {
        display: none !important;
    }
}
/*
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans serif;
    color: #758D96;
}

button {
    position: absolute;
    width: 100px;
    min-width: 100px;
    padding: 20px;
    margin: 20px;
    font-family: 'Titillium Web', sans serif;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
}

#toggleButton {
    position: absolute;
    left: 50px;
    top: 20px;
    background-color: #75C7F6;
}
    */



.scrollHorizontal {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}



video {
    /*position: fixed;*/
    top: 0;
    height: 100%;
    /*z-index: -1;*/
}


.text-capitalized {
    text-transform: capitalize;
}


/*** BORDES ***/
.border-grisAzulado {
    border-color: #8492A6 !important;
}

.input-cobefar:focus {
    border-color: #28a745 !important; /* Color de borde cuando el input está enfocado */
    outline: none; /* Quita el resaltado predeterminado al enfocar */
    box-shadow: none; /* Quita la sombra predeterminada al enfocar */
}

.bg-breadcumb {
    background-image: url('img/lines-dark-background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.bg-headerModals {
    background-image: url('img/lines-dark-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-cardCobefar {
    background-image: url('img/white-background-abstract.jpg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

.div-hover:hover {
    background-color: #CFD8DC; /* Cambia este color por el que prefieras */
    outline: none; /* Esto elimina el borde predeterminado que aparece al enfocar */
}

.text-desbordes {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1280px) {
    .px-3cols {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1281px) and (max-width: 1600px) {
    .px-3cols {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1601px) and (min-width: 1900px) {
    .px-3cols {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.border-radius-20 {
    border-radius: 20px;
}

/* PARA PAGINACIONES */
.pagination {
    margin-top: 20px;
}

    .pagination a {
        display: inline-block;
        padding: 5px 10px;
        background-color: #f2f2f2;
        color: #333;
        text-decoration: none;
        border: 1px solid #ccc;
    }

        .pagination a:hover {
            background-color: #ddd;
        }

    .pagination .active {
        background-color: #333;
        color: #fff;
    }

.position-absolute-cobefar {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.position-absolute-cobefar-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px; /* Ajusta el margen superior según sea necesario */
    margin-left: 10px; /* Ajusta el margen derecho según sea necesario */
}
