
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>ERROR</h4>
<strong>Error no tiene permiso para acceder a este Recurso<br />Contacte al soporte de Sistemas</strong>

