@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_inicial.cshtml";
}

<div class="row mt-4 justify-content-center" style="height: 90vh;">
    <div class="col-lg-6 bg-cobefar d-flex align-items-end" id="div_video" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; position: relative;">
        <video id="video-presentacion" src="~/Content/img/video-presentacion-24-05-23.mp4" autoplay loop muted playsinline style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"></video>        <div class="p-5" style="z-index: 1;">
            <div class="copyright mt-4 mb-0 p-3" id="copyright" style="background-color: #26653D;">
                <span class="text-cobefar-2"><strong>CONTACTO:</strong></span>
                <div class="my-3">
                    <span class="text-cobefar-2">> </span><span class="text-white"> soporte.ti@cobefar.com.pe</span><br />
                    <span class="text-cobefar-2">>> </span><span class="text-white"> coordinador.ti@cobefar.com.pe</span><br />
                    <span class="text-cobefar-2">>>> </span><span class="text-white"> coordinador.desarrollo@cobefar.com.pe</span><br />
                    <span class="text-cobefar-2">>>>> </span><span class="text-white">  soporte.desarrollo@cobefar.com.pe</span>
                </div>

                <div>
                    <span class="text-white">© Todos los derechos reservados - </span><span class="text-cobefar-2">COBEFAR S.A.C</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 px-4 py-3 bg-white d-flex align-items-center justify-content-center" style="opacity: 0.95; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
        <div>
            <div class="text-center mb-4">
                <img src="~/Content/img/logo-drogueria-cobefar.jpg" class="img-fluid" width="400" />
            </div>

            <form action="Index/Login" method="post">
                <div class="form-group mb-2">
                    <label class="col-form-label text-cobefar font-weight-bold">Usuario:</label>
                    <input class="form-control border-success" id="usuario" type="text" name="User" placeholder="Ingrese su usuario" />
                </div>
                <div class="form-group mb-2">
                    <label class="col-form-label text-cobefar font-weight-bold">Contraseña:</label>
                    <input class="form-control border-success" id="clave" type="password" name="Pass" placeholder="Ingrese su contraseña" />
                </div>

                <div class="mt-3">
                    <button type="submit" id="btnLogin" class="btn btn-cobefar btn-block">Ingresar</button>
                </div>
            </form>

            @*<div class="row" style="margin-top: 100px;">
                <div class="col-12 d-flex justify-content-end align-items-end">
                    <a href="http://192.168.1.40/RecursosHumanos/DirectorioTelefonico" class="btn bg-cobefar-3 text-white font-weight-bold mr-3">
                        <i class="bi bi-box-arrow-up-right"></i> Ir a Directorio Telefónico
                    </a>
                </div>
                
            </div>*@
        </div>
    </div>
</div>

<script>
    if ('@TempData["Mensaje"]' != "") {
        Swal.fire('@TempData["Mensaje"]');
    }
</script>

