
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="row mt-4 justify-content-center" style="min-height: 600px; ">
        <div class="col-lg-6 bg-cobefar d-flex align-items-end" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
            <div class="p-5">
                <div>
                    <video src="~/Content/img/video-presentacion-edit.mp4" autoplay loop muted poster="~/Content/img/logo-drogueria-cobefar.jpg" width="100%"></video>
                </div>

                <div class="copyright mt-4 mb-0">
                    <span class="text-cobefar-2">CONTACTO:</span>
                    <div class="my-3">
                        <span class="text-cobefar-2">> </span><span class="text-white">soporte@cobefar.com.pe</span><br />
                        <span class="text-cobefar-2">>> </span><span class="text-white">desarrollo@cobefar.com.pe</span><br />
                        <span class="text-cobefar-2">>>> </span><span class="text-white">sistemas@cobefar.com.pe</span>
                    </div>
                    
                    <div>
                        <span class="text-white">© Todos los derechos reservados - </span><span class="text-cobefar-2">COBEFAR S.A.C</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 px-4 py-3 bg-white d-flex align-items-center" style="opacity: 0.95; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <img src="~/Content/img/logo-drogueria-cobefar.jpg" class="img-fluid" width="250" />
                </div>
            
                <div class="col-lg-12">
                    <form action="Login" method="post">
                        <div class="glyphicon-align-center mt-3">
                            <label class="text-cobefar font-weight-bold">Usuario:</label>
                            <input class="form-control border-success" type="text" name="User" placeholder="Ingrese su usuario" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="text-cobefar font-weight-bold">Contraseña:</label>
                            <input class="form-control border-success" type="password" name="Pass" placeholder="Ingrese su contraseña" />
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-cobefar btn-block">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

    </div>