
@{
    ViewBag.Title = "RH_Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/recursosHumanos/personal/personal.js"></script>
<script src="~/Scripts/recursosHumanos/personal/Formularios.js"></script>
<h2>RH_Personal</h2>
<form action="LogOut">
    <button type="submit" class="btn-light">Cerrar sesion</button>
</form>
<div class="container w-25 float-left">
    <ul>
        <li id="PersonalNuevo"><button class="btn btn-secondary">Registrar Personal Nuevo</button></li>
        <li id="Baja"><button class="btn btn-secondary">Dar de Baja</button></li>
        <li id="Opcion1"><button class="btn btn-secondary">Opcion3</button></li>
        <li id="Opcion2"><button class="btn btn-secondary">Opcion3</button></li>
        <li id="Opcion3"><button class="btn btn-secondary">Opcion3</button></li>
    </ul>
</div>
<div id="Formulario" class="float-right w-75">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
