@model IEnumerable<Capa_Entidad.ReportesDigemid_ENT.Reportes.ComprobanteDePago_E>
@{
    Layout = null;
    var Cab = Model.ToList()[0];
    //var partes = Cab.DirPagar.Split('-');
    //var direccion = partes[0].Trim();
    //var ciudad = partes.Length > 1 ? string.Join("-", partes.Skip(1)).Trim() : "";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutFactura_Header</title>
    <style>
        * {
            font-family: 'Verdana', sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            margin: 5px 20px;
            color: #333;
            font-size: 11px;
            color: #333;
        }


        /* ── DATOS CLIENTE ── */
        .border-box {
            border: 1px solid #b0bfc6;
            border-radius: 12px;
            padding: 7px 12px;
        }
    </style>
</head>
<body>
    <table style="width:100%;">
        <tr>
            <!-- Logo -->
            <td style="width:60%; vertical-align:top;">
                <img src="~/imagenes/Logo - Disfar Oriente.png" width="180" height="100"
                     style="float:left; margin-right:15px;" />
                <div style="font-size:12px; color:#1F4E79; font-weight:bold; margin-top:5px;">
                    DISFAR ORIENTE S.A.C.
                </div>
                <div style="font-size:9.5px; color:#555; line-height:1.4; margin-top:4px;">
                    PJ. PROGRESO NRO. 118 (ALT CUADRA 2 VIA
                    DEEVITAMIENTO)-MORALES-SAN MARTÍN SAN MARTÍN<br /><br />
                    Morales - San Martín - San Martín
                </div>
            </td>
            <!-- Caja RUC -->
            <td style="width:40%; vertical-align:top;">
                <div style="border:2px solid #1F4E79; border-radius:15px; padding:15px; text-align:center;">
                    <div style="font-size:12px; color:#333; margin-bottom:8px;">RUC: 20615244156</div>
                    <div style="font-size:13px; font-weight:bold; color:#1F4E79; margin-bottom:8px; line-height:1.2;">
                        @if (ViewBag.Tipo == "F")
                        {<text>FACTURA ELECTRÓNICA</text> }
                    else
                    { <text>BOLETA ELECTRÓNICA</text>}
                    </div>
                    <div style="font-size:12px; color:#333;">N° @Cab.SerieDoc-@Cab.CorreDoc</div>
                </div>
            </td>
        </tr>
    </table>


    <!-- ══ DATOS CLIENTE ══ -->
    <div class="border-box">
        <table style="table-layout:fixed; width:100%;">
            <tr>
                <td style="width:70px; font-weight:bold; padding:4px 0;">Cliente:</td>
                <td style="width:65%; padding:4px 0; word-wrap:break-word; white-space:normal;">@Cab.NombreSocio</td>
                <td style="width:55px; font-weight:bold; padding:4px 0;">Moneda:</td>
                <td style="padding:4px 0;">SOLES</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:4px 0;">RUC:</td>
                <td style="padding:4px 0;">@Cab.Ruc</td>
                <td style="font-weight:bold; padding:4px 0;">IGV:</td>
                <td style="padding:4px 0;">18.00 %</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:4px 0;">Dirección:</td>
                <td style="padding:4px 0; word-wrap:break-word; white-space:normal;" colspan="3">@Cab.DirPagar</td>
            </tr>
        </table>
    </div>
    <div style="height: 6px;"></div>

</body>
</html>
